<section id="login">

  <h1>"What You Type Is What You Get"</h1>


  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <h2>Please sign in</h2>

      <%= form_for(:user, :url => session_path(:user), :role => 'form') do |f| %>

        <%= render "layouts/messages" %>

        <!-- Email -->
        <div class="form-group">
          <%= f.text_field :email, :class => 'form-control', :autofocus => 'true', :placeholder => User.human_attribute_name('email') %>
        </div>

        <!-- Password -->
        <div class="form-group">
          <%= f.password_field :password, :class => 'form-control', :placeholder => User.human_attribute_name("password") %>
        </div>

        <div class="form-actions">
          <%= f.submit 'Sign in', :class => 'btn btn-block btn-primary' %>
        </div>

      <% end %>

      <p class="small text-center">
        Or <%= link_to "create an account", new_registration_path(:user) %>
      </p>

    </div>
  </div>
</section>
